In [48]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import scipy as sp
import pandas as pd
import sys
import platform
import sklearn

print(sys.version_info)
print("Python Version: " + str(platform.python_version()))

sys.version_info(major=3, minor=6, micro=8, releaselevel='final', serial=0)
Python Version: 3.6.8

In [51]:
from sklearn.feature_selection import *

In [97]:
#path = "/Users/zhiwei/Documents/Spring-2019/STAT-222/sf-crime/"
crime_data = pd.read_csv("../../data/data_include_all_features.csv")
crime_data.shape

(1909, 176)

In [75]:
crime_data.columns.values

array(['GEOID', 'year', 'quarter', 'N', 'N_calls_311', 'lat', 'lng',
       'N_housing', 'V1', 'Estimate_Total.x', 'prop_rented', 'prop_male',
       'prop_african_american', 'prop_under_poverty_level',
       'prop_vacant_houses', 'prop_stable', 'racial_index',
       'income_index', 'age_index', 'working_class', 'land', 'water',
       'Estimate_Total.y', 'Female', 'Female_10_to_14_years',
       'Female_10th_grade', 'Female_11th_grade',
       'Female_12th_grade_no_diploma', 'Female_15_to_17_years',
       'Female_18_and_19_years', 'Female_20_years', 'Female_21_years',
       'Female_22_to_24_years', 'Female_25_to_29_years',
       'Female_30_to_34_years', 'Female_35_to_39_years',
       'Female_40_to_44_years', 'Female_45_to_49_years',
       'Female_5_to_9_years', 'Female_50_to_54_years',
       'Female_55_to_59_years', 'Female_5th_and_6th_grade',
       'Female_60_and_61_years', 'Female_62_to_64_years',
       'Female_65_and_66_years', 'Female_67_to_69_years',
       'Female_70_to_74_years', 'Female_75_to_79_years',
       'Female_7th_and_8th_grade', 'Female_80_to_84_years',
       'Female_85_years_and_over', 'Female_9th_grade',
       "Female_Associate's_degree", "Female_Bachelor's_degree",
       'Female_Doctorate_degree',
       'Female_High_school_graduate_(includes_equivalency)',
       "Female_Master's_degree", 'Female_No_schooling_completed',
       'Female_Nursery_to_4th_grade', 'Female_Professional_school_degree',
       'Female_Some_college_1_or_more_years_no_degree',
       'Female_Some_college_less_than_1_year', 'Female_Under_5_years',
       'Hispanic_or_Latino',
       'Hispanic_or_Latino_American_Indian_and_Alaska_Native_alone',
       'Hispanic_or_Latino_Asian_alone',
       'Hispanic_or_Latino_Black_or_African_American_alone',
       'Hispanic_or_Latino_Native_Hawaiian_and_Other_Pacific_Islander_alone',
       'Hispanic_or_Latino_Some_other_race_alone',
       'Hispanic_or_Latino_Two_or_more_races',
       'Hispanic_or_Latino_Two_or_more_races_Two_races_excluding_Some_other_race_and_three_or_more_races',
       'Hispanic_or_Latino_Two_or_more_races_Two_races_including_Some_other_race',
       'Hispanic_or_Latino_White_alone',
       'Income_in_the_past_12_months_at_or_above_poverty_level',
       'Income_in_the_past_12_months_at_or_above_poverty_level_Female',
       'Income_in_the_past_12_months_at_or_above_poverty_level_Female_In_labor_force',
       'Income_in_the_past_12_months_at_or_above_poverty_level_Female_In_labor_force_Employed',
       'Income_in_the_past_12_months_at_or_above_poverty_level_Female_In_labor_force_Unemployed',
       'Income_in_the_past_12_months_at_or_above_poverty_level_Male',
       'Income_in_the_past_12_months_at_or_above_poverty_level_Male_In_labor_force',
       'Income_in_the_past_12_months_at_or_above_poverty_level_Male_In_labor_force_Employed',
       'Income_in_the_past_12_months_at_or_above_poverty_level_Male_In_labor_force_Unemployed',
       'Income_in_the_past_12_months_at_or_above_poverty_level_Male_Not_in_labor_force',
       'Income_in_the_past_12_months_below_poverty_level',
       'Income_in_the_past_12_months_below_poverty_level_Female',
       'Income_in_the_past_12_months_below_poverty_level_Female_In_labor_force',
       'Income_in_the_past_12_months_below_poverty_level_Female_In_labor_force_Employed',
       'Income_in_the_past_12_months_below_poverty_level_Female_In_labor_force_Unemployed',
       'Income_in_the_past_12_months_below_poverty_level_Female_Not_in_labor_force',
       'Income_in_the_past_12_months_below_poverty_level_Male',
       'Income_in_the_past_12_months_below_poverty_level_Male_In_labor_force',
       'Income_in_the_past_12_months_below_poverty_level_Male_In_labor_force_Employed',
       'Income_in_the_past_12_months_below_poverty_level_Male_In_labor_force_Unemployed',
       'Income_in_the_past_12_months_below_poverty_level_Male_Not_in_labor_force',
       'Male', 'Male_10_to_14_years', 'Male_10th_grade',
       'Male_11th_grade', 'Male_12th_grade_no_diploma',
       'Male_15_to_17_years', 'Male_18_and_19_years', 'Male_20_years',
       'Male_21_years', 'Male_22_to_24_years', 'Male_25_to_29_years',
       'Male_30_to_34_years', 'Male_35_to_39_years',
       'Male_40_to_44_years', 'Male_45_to_49_years', 'Male_5_to_9_years',
       'Male_50_to_54_years', 'Male_55_to_59_years',
       'Male_5th_and_6th_grade', 'Male_60_and_61_years',
       'Male_62_to_64_years', 'Male_65_and_66_years',
       'Male_67_to_69_years', 'Male_70_to_74_years',
       'Male_75_to_79_years', 'Male_7th_and_8th_grade',
       'Male_80_to_84_years', 'Male_85_years_and_over', 'Male_9th_grade',
       "Male_Associate's_degree", "Male_Bachelor's_degree",
       'Male_Doctorate_degree',
       'Male_High_school_graduate_(includes_equivalency)',
       "Male_Master's_degree", 'Male_No_schooling_completed',
       'Male_Nursery_to_4th_grade', 'Male_Professional_school_degree',
       'Male_Some_college_1_or_more_years_no_degree',
       'Male_Some_college_less_than_1_year', 'Male_Under_5_years',
       'Moved_from_abroad', 'Moved_from_abroad_Female',
       'Moved_from_abroad_Male',
       'Moved_from_different_county_within_same_state',
       'Moved_from_different_county_within_same_state_Female',
       'Moved_from_different_county_within_same_state_Male',
       'Moved_from_different_state', 'Moved_from_different_state_Female',
       'Moved_from_different_state_Male', 'Moved_within_same_county',
       'Moved_within_same_county_Female', 'Moved_within_same_county_Male',
       'Not_Hispanic_or_Latino',
       'Not_Hispanic_or_Latino_American_Indian_and_Alaska_Native_alone',
       'Not_Hispanic_or_Latino_Asian_alone',
       'Not_Hispanic_or_Latino_Black_or_African_American_alone',
       'Not_Hispanic_or_Latino_Native_Hawaiian_and_Other_Pacific_Islander_alone',
       'Not_Hispanic_or_Latino_Some_other_race_alone',
       'Not_Hispanic_or_Latino_Two_or_more_races',
       'Not_Hispanic_or_Latino_Two_or_more_races_Two_races_excluding_Some_other_race_and_three_or_more_races',
       'Not_Hispanic_or_Latino_Two_or_more_races_Two_races_including_Some_other_race',
       'Not_Hispanic_or_Latino_White_alone', 'Owner_occupied',
       'Renter_occupied', 'Same_house_1_year_ago',
       'Same_house_1_year_ago_Female', 'Same_house_1_year_ago_Male',
       'With_income', 'With_income_1_to_9999_or_loss',
       'With_income_10000_to_14999', 'With_income_15000_to_24999',
       'With_income_25000_to_34999', 'With_income_35000_to_49999',
       'With_income_50000_to_64999', 'With_income_65000_to_74999',
       'With_income_75000_or_more', 'N_theft', 'N_robbery', 'N_assualt',
       'N_vehicle_theft', 'N_burglary', 'NAME'], dtype=object)

In [81]:
X = crime_data.iloc[:,4:170]
y = crime_data.N

#apply SelectKBest class to extract top 20 best features
bestfeatures = SelectKBest(score_func=f_regression, k=20)
fit = bestfeatures.fit(X,y)
dfscores = pd.DataFrame(fit.scores_)
dfcolumns = pd.DataFrame(X.columns)

#concat two dataframes for better visualization 
featureScores = pd.concat([dfcolumns,dfscores],axis=1)
featureScores.columns = ['Specs','Score']  #naming the dataframe columns
print(featureScores.nlargest(20,'Score'))  #print 20 best features

                                                 Specs        Score
89   Income_in_the_past_12_months_below_poverty_lev...  2596.043551
85   Income_in_the_past_12_months_below_poverty_lev...  1737.773445
0                                          N_calls_311  1402.342070
79    Income_in_the_past_12_months_below_poverty_level  1055.141847
159                         With_income_10000_to_14999   957.664154
153                                    Renter_occupied   899.760178
141                      Moved_within_same_county_Male   806.769390
90                                                Male   713.681598
14                                           age_index   710.935982
135  Moved_from_different_county_within_same_state_...   652.902260
22                                   Female_11th_grade   586.565563
106                                Male_50_to_54_years   567.325075
138                    Moved_from_different_state_Male   566.044108
139                           Moved_within_same_county   554.175114
103                                Male_40_to_44_years   542.042556
136                         Moved_from_different_state   518.434278
102                                Male_35_to_39_years   516.887827
101                                Male_30_to_34_years   516.320734
93                                     Male_11th_grade   498.285502
133      Moved_from_different_county_within_same_state   466.257716

In [90]:
X = crime_data.iloc[:,4:170][-np.isnan(crime_data.N_theft)]
y = crime_data.N_theft[-np.isnan(crime_data.N_theft)]

#apply SelectKBest class to extract top 20 best features
bestfeatures = SelectKBest(score_func=f_regression, k=20)
fit = bestfeatures.fit(X,y)
dfscores = pd.DataFrame(fit.scores_)
dfcolumns = pd.DataFrame(X.columns)

#concat two dataframes for better visualization 
featureScores = pd.concat([dfcolumns,dfscores],axis=1)
featureScores.columns = ['Specs','Score']  #naming the dataframe columns
print(featureScores.nlargest(20,'Score'))  #print 20 best features

                                                 Specs        Score
89   Income_in_the_past_12_months_below_poverty_lev...  1694.398689
0                                          N_calls_311  1205.062728
85   Income_in_the_past_12_months_below_poverty_lev...   978.933891
141                      Moved_within_same_county_Male   946.337002
135  Moved_from_different_county_within_same_state_...   937.179915
14                                           age_index   855.193794
153                                    Renter_occupied   798.245916
136                         Moved_from_different_state   732.981934
133      Moved_from_different_county_within_same_state   722.341315
90                                                Male   720.701826
139                           Moved_within_same_county   679.215249
138                    Moved_from_different_state_Male   658.564277
101                                Male_30_to_34_years   655.983961
103                                Male_40_to_44_years   632.926916
102                                Male_35_to_39_years   624.626385
120                             Male_Bachelor's_degree   624.535932
79    Income_in_the_past_12_months_below_poverty_level   617.715210
106                                Male_50_to_54_years   561.007429
165                          With_income_75000_or_more   553.313126
76   Income_in_the_past_12_months_at_or_above_pover...   540.054743

In [91]:
X = crime_data.iloc[:,4:170][-np.isnan(crime_data.N_robbery)]
y = crime_data.N_robbery[-np.isnan(crime_data.N_robbery)]

#apply SelectKBest class to extract top 20 best features
bestfeatures = SelectKBest(score_func=f_regression, k=20)
fit = bestfeatures.fit(X,y)
dfscores = pd.DataFrame(fit.scores_)
dfcolumns = pd.DataFrame(X.columns)

#concat two dataframes for better visualization 
featureScores = pd.concat([dfcolumns,dfscores],axis=1)
featureScores.columns = ['Specs','Score']  #naming the dataframe columns
print(featureScores.nlargest(20,'Score'))  #print 20 best features

                                                 Specs        Score
89   Income_in_the_past_12_months_below_poverty_lev...  2017.256679
85   Income_in_the_past_12_months_below_poverty_lev...  1595.167022
159                         With_income_10000_to_14999   982.166935
79    Income_in_the_past_12_months_below_poverty_level   861.224699
0                                          N_calls_311   653.078342
22                                   Female_11th_grade   555.967344
153                                    Renter_occupied   555.189856
104                                Male_45_to_49_years   498.384979
93                                     Male_11th_grade   437.409708
122   Male_High_school_graduate_(includes_equivalency)   393.830524
90                                                Male   380.293012
106                                Male_50_to_54_years   375.639314
141                      Moved_within_same_county_Male   317.115029
84   Income_in_the_past_12_months_below_poverty_lev...   304.172024
39                               Female_62_to_64_years   297.782900
14                                           age_index   295.594941
109                               Male_60_and_61_years   269.222709
135  Moved_from_different_county_within_same_state_...   250.820818
103                                Male_40_to_44_years   247.910858
128                 Male_Some_college_less_than_1_year   237.536002

In [92]:
X = crime_data.iloc[:,4:170][-np.isnan(crime_data.N_assualt)]
y = crime_data.N_assualt[-np.isnan(crime_data.N_assualt)]

#apply SelectKBest class to extract top 20 best features
bestfeatures = SelectKBest(score_func=f_regression, k=20)
fit = bestfeatures.fit(X,y)
dfscores = pd.DataFrame(fit.scores_)
dfcolumns = pd.DataFrame(X.columns)

#concat two dataframes for better visualization 
featureScores = pd.concat([dfcolumns,dfscores],axis=1)
featureScores.columns = ['Specs','Score']  #naming the dataframe columns
print(featureScores.nlargest(20,'Score'))  #print 20 best features

                                                 Specs        Score
89   Income_in_the_past_12_months_below_poverty_lev...  2401.665445
85   Income_in_the_past_12_months_below_poverty_lev...  1894.323092
0                                          N_calls_311  1492.576538
79    Income_in_the_past_12_months_below_poverty_level  1208.420633
159                         With_income_10000_to_14999  1182.284004
153                                    Renter_occupied   745.169459
22                                   Female_11th_grade   704.859501
84   Income_in_the_past_12_months_below_poverty_lev...   538.456170
93                                     Male_11th_grade   530.940882
141                      Moved_within_same_county_Male   514.635135
90                                                Male   509.025682
104                                Male_45_to_49_years   460.090138
14                                           age_index   448.055662
122   Male_High_school_graduate_(includes_equivalency)   445.210778
106                                Male_50_to_54_years   436.103426
138                    Moved_from_different_state_Male   393.665476
80   Income_in_the_past_12_months_below_poverty_lev...   385.623997
135  Moved_from_different_county_within_same_state_...   362.631931
127        Male_Some_college_1_or_more_years_no_degree   345.106019
102                                Male_35_to_39_years   334.629799

In [93]:
X = crime_data.iloc[:,4:170][-np.isnan(crime_data.N_vehicle_theft)]
y = crime_data.N_vehicle_theft[-np.isnan(crime_data.N_vehicle_theft)]

#apply SelectKBest class to extract top 20 best features
bestfeatures = SelectKBest(score_func=f_regression, k=20)
fit = bestfeatures.fit(X,y)
dfscores = pd.DataFrame(fit.scores_)
dfcolumns = pd.DataFrame(X.columns)

#concat two dataframes for better visualization 
featureScores = pd.concat([dfcolumns,dfscores],axis=1)
featureScores.columns = ['Specs','Score']  #naming the dataframe columns
print(featureScores.nlargest(20,'Score'))  #print 20 best features

                                                 Specs        Score
0                                          N_calls_311  1065.330444
103                                Male_40_to_44_years   532.978111
90                                                Male   507.959165
14                                           age_index   477.944836
75   Income_in_the_past_12_months_at_or_above_pover...   435.019778
76   Income_in_the_past_12_months_at_or_above_pover...   434.013738
102                                Male_35_to_39_years   395.613661
2                                                  lng   384.477286
89   Income_in_the_past_12_months_below_poverty_lev...   377.020260
74   Income_in_the_past_12_months_at_or_above_pover...   367.583571
106                                Male_50_to_54_years   363.564557
101                                Male_30_to_34_years   363.063791
157                                        With_income   357.134933
85   Income_in_the_past_12_months_below_poverty_lev...   339.215487
156                         Same_house_1_year_ago_Male   331.113474
159                         With_income_10000_to_14999   326.229029
141                      Moved_within_same_county_Male   317.692187
5                                     Estimate_Total.x   305.924288
18                                    Estimate_Total.y   305.924288
30                               Female_30_to_34_years   303.947743

In [94]:
X = crime_data.iloc[:,4:170][-np.isnan(crime_data.N_burglary)]
y = crime_data.N_burglary[-np.isnan(crime_data.N_burglary)]

#apply SelectKBest class to extract top 20 best features
bestfeatures = SelectKBest(score_func=f_regression, k=20)
fit = bestfeatures.fit(X,y)
dfscores = pd.DataFrame(fit.scores_)
dfcolumns = pd.DataFrame(X.columns)

#concat two dataframes for better visualization 
featureScores = pd.concat([dfcolumns,dfscores],axis=1)
featureScores.columns = ['Specs','Score']  #naming the dataframe columns
print(featureScores.nlargest(20,'Score'))  #print 20 best features

                                                 Specs        Score
89   Income_in_the_past_12_months_below_poverty_lev...  1240.928534
0                                          N_calls_311   899.650384
85   Income_in_the_past_12_months_below_poverty_lev...   827.297676
141                      Moved_within_same_county_Male   790.440947
153                                    Renter_occupied   783.317562
135  Moved_from_different_county_within_same_state_...   769.847576
14                                           age_index   755.193859
136                         Moved_from_different_state   724.146434
138                    Moved_from_different_state_Male   696.487709
139                           Moved_within_same_county   628.326192
101                                Male_30_to_34_years   593.333756
133      Moved_from_different_county_within_same_state   589.297246
79    Income_in_the_past_12_months_below_poverty_level   583.732486
90                                                Male   571.047455
102                                Male_35_to_39_years   549.920027
120                             Male_Bachelor's_degree   518.594365
103                                Male_40_to_44_years   505.678588
6                                          prop_rented   479.949475
137                  Moved_from_different_state_Female   474.142596
165                          With_income_75000_or_more   470.313360